
//PRIMARY COLORS
$Instock-Black: #13182C;
$Instock-Indigo: #2E66E5;
$White: #FFFFFF;

//SECONDARY COLORS
$Slate: #5C667E;
$Cloud: #BDC5D5;

//BACKGROUND COLORS
$Graphite: #232940;
$Light-Grey: #F7F8F9;

//SUPPORTING COLORS
$Green: #158463;
$Red: #C94515;

