@import '../../styles/partials/_variables.scss';

.inventory-item-container{
    position: relative;
    background-color: $Light-Grey;
}

.inventory-item-section{
    position: absolute;
    width: 90%;
    top: calc($card-offset*(-1));
    left: 5%;
    right: 5%;
}

.inventory-item-section{
    background-color: white;
    border-radius: $corner-radius;
}

.inventory-item-header{
    &__container{

    }

    &__title{

    }

    &__edit-btn{

    }

    &__edit-icon{

    }

    &__edit-txt{

    }
}


.inventory-details{
    &__top_layer{

    }

    &__bottom_layer{

    }

    &__info-item{

    }
}


