@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inventoryListContainer {

    &__items {
        @include tablet {
            padding-right: 2rem;
        }

    }

    &__title {
        color: $Instock-Black;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.25rem;
        padding: 1rem;

        @include tablet {
            font-size: 2rem;
            line-height: 2.5rem;
        }
      }
      &__titleBox {
        display: flex;
        flex-direction: column;
        
        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        @include desktop {
            padding: 1rem 0;
        }
      }
      &__searchBar {
       
        width: 85%;
        height: 2.25rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        border: 1px solid $Cloud;
        background: $White;
        margin:1rem;
        background-image: url(../../assets/Icons/search-24px.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 0.5rem) center;
        

        @include tablet {
            width: 11.5625rem;
            height: 2.375rem;
        }

        @include desktop {
            width: 17.125rem;
        }
      }
      &__searchButton {
   
        display: inline-flex;
        padding: 0.5rem 5rem;
        align-items: center;
        gap: 0.625rem;
        border-radius: 1.25rem;
        background: $Instock-Indigo;
        margin: 0 1rem 1rem 1rem;
        width: 85%;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 600;
        color: $White;
        border: none;
        display: flex;
        justify-content: center;

        @include tablet {
        display: inline-flex;
        padding: 0.5rem 1rem;
        align-items: center;
        gap: 0.625rem;
        margin: 1rem;
        width: 11.5625rem;
        height: 2.375rem;
        justify-content: center;
        }

      }
}

.inventory {
    
    border-top: 1px solid $Cloud;

    @include tablet {
        border-top: none;
    }

    &-titlebar {
        display: none;

        @include tablet {
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            list-style-type: none;
            height: 2.5rem;
            background: rgba(247, 248, 249, 0.70);
        }

        @include desktop {
            width: 1280px;
        }

        &__list {
            @include tablet {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        &__container-left {
            @include tablet {
                display: flex;
                justify-content: space-between;
                width: 50%;
            }
        }

        &__container-right {
            @include tablet {
                display: flex;
                justify-content: space-between;
                width: 44%;
            }
        }

        &__item {
            color: $Slate;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.125rem;
            display: flex;
            align-items: center;

            @include desktop {
                width: 190px;
            }



        }
    }

    &__icon {
        @include tablet {
            padding-right: 1rem;
        }
    }


    &__list {
        list-style: none;
        color: $Slate;
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1rem;
        text-transform: uppercase;

        @include tablet {
            border-bottom: 1px solid $Cloud;
        }


        &-container {
            display:flex;
            align-items: center;
        }

        &-title {
            @include tablet {
                display: none;
            }
        }

        &-instock {
            color: $Green;
            font-family: Titillium Web;
            font-size: 0.6875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1rem;
            text-transform: uppercase;
            display: inline-flex;
            padding: 0.25rem 0.5rem;
            align-items: center;
            border-radius: 1.25rem;
            background: rgba(21, 132, 99, 0.07);
            margin-top: 0.2rem;

            @include tablet {
                margin-top: 0;
            }
        }

        &-outstock {
            display: inline-flex;
            padding: 0.25rem 0.5rem;
            align-items: center;
            border-radius: 1.25rem;
            background: rgba(201, 69, 21, 0.07);
            color: $Red;
            font-size: 0.6875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1rem;
            text-transform: uppercase;
            margin-top: 1rem;

            @include tablet {
                margin-top: 0;
            }
        }

        &-bottom {
            border-bottom: 1px solid $Cloud;

            @include tablet {
                display: none;
            }
        }

        &-blueItm {
            color: $Instock-Indigo;
        }

        &-top {
            display:flex;
            padding-top: 1rem;

            @include tablet {
                align-items: center;
                padding: 0.5rem 1rem;
                justify-content: space-between;
            }

            @include desktop {
                padding: 0 0 0 1rem;
            }
        }

        &-left {
            width: 50%;

            @include tablet {
                display: flex;
                width: 38%;
                justify-content: space-between;
            }

            &-details {
                padding: 0.5rem 1rem;
                
                @include tablet {
                    width: 100%;
                    padding: 0.5rem 0;
                }

                @include desktop {
                    width: 190px;
                }
            }
        }

        &-right {

            @include tablet {
                display: flex;
                justify-content: space-between;
                width: 60%;

            }
            
            &-details {
                padding: 0.5rem 1rem;
                text-align: left;
                
                @include tablet {
                    width: 100px;
                    padding: 0.5rem 0;
                }

                @include desktop {
                    width: 190px;
                }
            }
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

    }

    &__icons-tablet {
        display: none;

        @include tablet {
            display: flex;
            padding: 0.5rem 0;
            
        }
    }
}