:root {
  --base-padding: 1rem;
}

@media (min-width: 768px) {
  :root {
    --base-padding: 2rem;
  }
}
.warehouse {
  position: relative;
  z-index: 1;
  top: -60px;
  background-color: #FFFFFF;
  width: 90%;
  left: 5%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
}
@media (min-width: 768px) {
  .warehouse {
    left: 45px;
  }
}
@media (min-width: 1280px) {
  .warehouse {
    width: 85%;
    left: 100px;
  }
}
.warehouse__header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .warehouse__header {
    padding: 0 32px;
  }
}
.warehouse__container {
  display: flex;
  align-items: center;
}
.warehouse__title {
  font-weight: 600;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .warehouse__title {
    font-size: 32px;
  }
}
.warehouse__edit-btn {
  border: none;
  background-color: #2E66E5;
  width: 36px;
  height: 36px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .warehouse__edit-btn {
    width: 81px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.warehouse__edit-icon {
  filter: brightness(0) invert(1);
}
@media (min-width: 768px) {
  .warehouse__edit-icon {
    height: 20px;
  }
}
.warehouse__edit-txt {
  display: none;
}
@media (min-width: 768px) {
  .warehouse__edit-txt {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-left: 4px;
  }
}
.warehouse__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  border-top: 1px solid #BDC5D5;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .warehouse__list {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 32px;
  }
}
@media (min-width: 768px) {
  .warehouse__list--tablet {
    flex-direction: column;
    border-top: none;
    padding: 0;
  }
}
.warehouse__list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  padding-top: 16px;
}
.warehouse__list-item--row {
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}
@media (min-width: 768px) {
  .warehouse__list-item--row {
    width: 70%;
    justify-content: space-evenly;
  }
}
.warehouse__label {
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  color: #5C667E;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  .warehouse__label {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 768px) {
  .warehouse__label--tablet {
    display: none;
  }
}
.warehouse__label-item {
  font-size: 13px;
  color: #13182C;
  line-height: 20px;
}
@media (min-width: 768px) {
  .warehouse__label-item {
    font-size: 14px;
    line-height: 22px;
  }
}
.warehouse__label-item--blue {
  display: flex;
  color: #2E66E5;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .warehouse__label-item--width {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .warehouse__label-item--quantity {
    width: 5%;
  }
}
@media (min-width: 1280px) {
  .warehouse__label-item--quantity {
    width: 4%;
  }
}
.warehouse__inventory {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #BDC5D5;
}
@media (min-width: 768px) {
  .warehouse__inventory {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px 0;
  }
}

.inventory-row {
  display: flex;
}
@media (min-width: 768px) {
  .inventory-row {
    width: 85%;
    justify-content: space-between;
  }
}
.inventory-row__container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 768px) {
  .inventory-row__container {
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .inventory-row__container2 {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
  }
}
.inventory-row__list-instock {
  width: 61px;
  height: 24px;
  border-radius: 20px;
  border: none;
  background-color: rgba(21, 132, 99, 0.07);
  color: #158463;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 20px;
}
.inventory-row__list-outstock {
  width: 86px;
  height: 24px;
  border-radius: 20px;
  border: none;
  background-color: rgba(201, 69, 21, 0.07);
  color: #C94515;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 20px;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .logo__container {
    margin-top: 0;
    width: 10%;
  }
}
@media (min-width: 1280px) {
  .logo__container {
    width: 7%;
  }
}

@media (min-width: 768px) {
  .contact__container {
    padding-left: 32px;
    border-left: 1px solid #BDC5D5;
  }
}

.toolbar {
  display: none;
}
@media (min-width: 768px) {
  .toolbar {
    display: flex;
    background-color: #F7F8F9;
  }
}
@media (min-width: 768px) {
  .toolbar__container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 0 32px;
  }
}
@media (min-width: 768px) {
  .toolbar__box1 {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .toolbar__box2 {
    display: flex;
    width: 30%;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .toolbar__item {
    font-size: 12px;
    font-weight: 600;
    color: #5C667E;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .toolbar__item--width {
    width: 14%;
  }
}

.edit-logo {
  height: 24px;
  width: 24px;
}/*# sourceMappingURL=Warehouse.css.map */