@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.header {
    background-color: $Graphite;
    width: 100%;
    height: 200px;
    padding: 0 1rem;
    box-sizing: border-box;

    @include tablet {
        padding: 34px 24px 24px;
    }

    @include desktop {
        padding: 34px 110px 24px;
    }

    
    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__sub-container {
        display: flex;
        justify-content: center;
    }

    &__logo {
        width: 8rem;
        height: auto;
        padding: 24px 0;

        @include tablet {
            padding: 0;
        }
    }

    &__button {
        height: 36px;
        width: 160px;
        border-radius: 20px;
        color: $Cloud;
        background-color: $Graphite;
        border: none;
        font-weight: 600;

        @include tablet {
            height: 38px;
            width: 107px;
        }

        &--active {
            background-color: $Instock-Black;
            color: $White;
        }
    }
}