@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");
:root {
  --base-padding: 1rem;
}

@media (min-width: 768px) {
  :root {
    --base-padding: 2rem;
  }
}
.warehouseListContainer {
  position: relative;
  z-index: 1;
  top: -60px;
  background-color: #FFFFFF;
  width: 90%;
  left: 5%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
}
@media (min-width: 768px) {
  .warehouseListContainer {
    left: 45px;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer {
    width: 85%;
    left: 100px;
  }
}
.warehouseListContainer__title {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__title {
    padding-top: 1.5rem;
  }
}
.warehouseListContainer__titleBox {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .warehouseListContainer__titleBox {
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__titleBox {
    justify-content: initial;
    gap: 30%;
  }
}
.warehouseListContainer__searchBarBox {
  position: relative;
  margin: auto 2rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__searchBarBox {
    display: flex;
    align-items: baseline;
    padding-top: 0.6rem;
  }
}
.warehouseListContainer__searchBar {
  width: 100%;
  height: 2rem;
  border-radius: 1.2rem;
  border: 0.25px solid #BDC5D5;
}
@media (min-width: 768px) {
  .warehouseListContainer__searchBar {
    width: 11rem;
    margin-right: 1rem;
    height: 2.4rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .warehouseListContainer__searchBar {
    width: 17rem;
  }
}
.warehouseListContainer__lookingGlass {
  height: 1.5rem;
  position: absolute;
  top: 4%;
  right: 10%;
}
@media (min-width: 768px) {
  .warehouseListContainer__lookingGlass {
    right: 55%;
    top: 35%;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__lookingGlass {
    right: 44%;
  }
}
.warehouseListContainer__searchButton {
  width: 100%;
  margin: 0 auto;
  height: 2.5rem;
  border-radius: 1.2rem;
  margin-top: 1rem;
  color: #FFFFFF;
  background-color: #2E66E5;
  margin-bottom: 2rem;
  border: none;
  font-weight: 600;
}
@media (min-width: 768px) {
  .warehouseListContainer__searchButton {
    width: 10rem;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__searchButton {
    width: 11rem;
  }
}
.warehouseListContainer__tabletLeader {
  display: none;
}
@media (min-width: 768px) {
  .warehouseListContainer__tabletLeader {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #5C667E;
    height: 2.5rem;
    background-color: #F7F8F9;
    padding: 0 32px;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__tabletLeader {
    font-size: 0.75rem;
    font-weight: 600;
    height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .warehouseListContainer__tabletLeader--box1 {
    display: flex;
    justify-content: space-between;
    width: 55%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .warehouseListContainer__tabletLeader--box1 {
    justify-content: initial;
    gap: 20%;
  }
}
@media (min-width: 768px) {
  .warehouseListContainer__tabletLeader--box2 {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__tabletLeader--box2 {
    justify-content: initial;
    gap: 30%;
  }
}
@media (min-width: 768px) {
  .warehouseListContainer__tabletLeaderItem {
    padding-top: 0.5rem;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__tabletLeaderItem {
    width: 10rem;
  }
}
@media (min-width: 768px) {
  .warehouseListContainer__tabletLeaderArrow {
    height: 1rem;
  }
}
.warehouseListContainer__detailsBox {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsBox {
    width: 100%;
    align-items: stretch;
  }
}
.warehouseListContainer__detailsBox--list {
  display: flex;
  border-top: solid 0.1rem #BDC5D5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsBox--list {
    height: 4.5rem;
    align-items: baseline;
    padding: 1rem 0 1rem;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__detailsBox--list {
    height: 3rem;
  }
}
.warehouseListContainer__detailsBox--left {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsBox--left {
    width: 60%;
    flex-direction: row;
    gap: 4rem;
    padding-left: 2.5rem;
    margin: 0;
  }
}
.warehouseListContainer__detailsBox--right {
  flex-direction: column;
  margin-right: 1rem;
  width: 42%;
  display: flex;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsBox--right {
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
  }
}
.warehouseListContainer__detailsTitle {
  color: #5C667E;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsTitle {
    display: none;
  }
}
.warehouseListContainer__detailsInfo {
  color: #13182C;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsInfo {
    width: 22%;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__detailsInfo {
    font-size: 0.875rem;
    width: 30%;
  }
}
.warehouseListContainer__detailsInfo--alt2 {
  display: none;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsInfo2 {
    width: 40%;
  }
}
.warehouseListContainer__detailsInfo--alt {
  color: #2E66E5;
  padding-bottom: 1rem;
  margin-top: -0.4rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsInfo--alt {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__detailsInfo--alt {
    font-size: 0.875rem;
  }
}
.warehouseListContainer__detailsInfo--Name {
  padding-bottom: 1rem;
  margin-top: -0.3rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsInfo--Name {
    display: none;
  }
}
.warehouseListContainer__detailsInfo--altName {
  display: none;
}
@media (min-width: 768px) {
  .warehouseListContainer__detailsInfo--altName {
    display: initial;
    width: 2rem;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__detailsInfo--altName {
    font-size: 0.875rem;
    width: 6rem;
    text-align: right;
  }
}
.warehouseListContainer__arrowLogo {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}
.warehouseListContainer__binIcon {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__binIcon {
    display: none;
  }
}
.warehouseListContainer__binIconTablet {
  display: none;
}
@media (min-width: 768px) {
  .warehouseListContainer__binIconTablet {
    display: initial;
    height: 1.5rem;
  }
}
.warehouseListContainer__penIcon {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__penIcon {
    height: 1.5rem;
    margin-left: 1rem;
    margin-top: 0;
  }
}
.warehouseListContainer__penIcon--box {
  margin-left: 6rem;
}
@media (min-width: 768px) {
  .warehouseListContainer__penIcon--box {
    display: flex;
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .warehouseListContainer__penIcon--box {
    align-items: left;
    margin-right: 4rem;
  }
}

::-moz-placeholder {
  padding: 1rem;
}

::placeholder {
  padding: 1rem;
}/*# sourceMappingURL=warehouseList.css.map */