@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouseListContainer {
  //   display: flex;
  // margin: auto 1rem;

  &__title {
    margin-left: 1rem;
  }
  &__titleBox {
    display: flex;
    flex-direction: column;
    @include tablet {
    }
  }
  &__searchBar {
    width: 85%;
    margin: 0 auto;
    height: 2rem;
    border-radius: 1.2rem;
    // border-color: $Light-Grey;
    border: 0.25px solid $Cloud;
  }
  &__searchButton {
    width: 87%;
    margin: 0 auto;
    height: 2.5rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
    color: $White;
    background-color: $Instock-Indigo;
    margin-bottom: 2rem;
    border: none;
  }
  &__detailsBox {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: solid 0.1rem $Cloud;
    border-bottom: solid 0.1rem $Cloud;
    list-style-type: none;
    font-size: 0.7rem;

    // justify-content: space-evenly;
  }
  &__detailsBox--list {
    display: flex;
  }
  &__detailsBox--left {
    display: flex;
    // background-color: lightblue;
    flex-direction: column;
    // flex-direction: column;
    margin-left: 1rem;
  }
  &__detailsBox--right {
    // background-color: chartreuse;
    flex-direction: column;
    margin-right: 1rem;

    display: flex;
  }
  &__detailsTitle {
    color: $Slate;
  }
  &__detailsInfo {
    color: $Instock-Black;
  }
  &__detailsInfo--alt {
    color: $Instock-Indigo;
  }
}
::placeholder {
  padding: 1rem;
}
