@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.newInv-heading {
    display: flex;
    color: $Instock-Black;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem;
    padding: 1rem;
    border-bottom: 1px solid $Cloud;
    align-items: flex-start;

    @include tablet {
        padding: 2rem 1rem;
    }


    &__img {
        padding: 0.4rem 0.5rem;



    }

}

.newInv {

    &-container {
        padding-left: 1rem;

        @include tablet {
            display: flex;
            padding-bottom: 1rem;

        }


    }

    &-itemDetails {

        @include tablet {
            border-right: 1px solid $Cloud;
            margin-top: 1rem;
            width: 50%;
            padding-left: 2rem;
        }

        @include desktop {

            padding-left: 2rem;
        }


    }

    &-itemAvailability {
        @include tablet {
            margin-top: 1rem;
            padding-left: 2rem;
            width: 50%;
        }
    }

    &__options {
        margin: 0 5rem;
    }

    &__cancel-btn {
        display: inline-flex;
        padding: 0.5rem 2.5rem;
        align-items: center;
        gap: 0.625rem;
        border-radius: 1.25rem;
        border: 1px solid $Cloud;
        background: $White;

        @include tablet {
            margin-right: 1rem;
            padding: 0.5rem 1rem;
        }
    }

    &__btn {
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: space-between;

        &-container {
            display: flex;
            justify-content: space-around;
            background-color: rgba(247, 248, 249, 0.70);
            padding: 1rem 0;

            @include tablet {
                justify-content: flex-end;
                padding: 2rem 2rem;



            }

        }

        &-blue {
            display: inline-flex;
            padding: 0.5rem 2.4375rem;
            align-items: center;
            gap: 0.625rem;
            border-radius: 1.25rem;
            background: $Instock-Indigo;
            color: $White;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.25rem;
            border: none;

            @include tablet {
                padding: 0.5rem 1rem;
            }
        }
    }


    &__item-heading {
        color: $Instock-Black;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        padding-top: 1rem;
    }

    &__item-name {
        color: $Instock-Black;
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.25rem;

        margin-top: 1rem;
    }

    &__item-input {
        border-radius: 1.25rem;
        border: 1px solid $Cloud;
        background: $White;
        width: 90%;
        height: 2.25rem;
        flex-shrink: 0;
        margin: 0.5rem 0;
        padding: 0 1rem;
    }

    // &__item-input::placeholder {
    //     font-size: 0.6rem;
    // }

    &__item-description {
        color: $Instock-Black;
        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: 1rem;
    }

    &__item-descriptionInput {
        width: 90%;
        height: 7.5rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        border: 1px solid $Cloud;
        background: $White;
        margin-top: 0.5rem;
        padding: 0 0 1rem 1rem;

    }

    // &__item-descriptionInput::placeholder {
    //     font-size: 0.6rem;
    // }

    &__radio-container {
        padding-right: 1rem;
    }


    &__radio {
        display: flex;
        justify-content: left;
        color: $Slate;


        &-label {
            padding: 0 1rem 0 0.5rem;

            @include tablet {
                padding: 0 0.5rem;
                margin: 1rem;

            }

        }

    }

    &__bottom {
        flex-direction: column;
    }
}