:root {
  --base-padding: 1rem;
}

@media (min-width: 768px) {
  :root {
    --base-padding: 2rem;
  }
}
.newInv-heading {
  display: flex;
  color: #13182C;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  padding: 1rem;
  border-bottom: 1px solid #BDC5D5;
}
@media (min-width: 768px) {
  .newInv-heading {
    padding: 2rem 1rem;
  }
}
.newInv-heading__img {
  padding-bottom: 40px;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .newInv-heading__img {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .newInv-container {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .newInv-container {
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .newInv-itemDetails {
    border-right: 1px solid #BDC5D5;
    margin-top: 1rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .newInv-itemDetails {
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .newInv-itemAvailability {
    margin-top: 1rem;
    padding-left: 2rem;
  }
}
.newInv__cancel-btn {
  display: inline-flex;
  padding: 0.5rem 3.1875rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  border: 1px solid #BDC5D5;
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .newInv__cancel-btn {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  }
}
.newInv__btn {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}
.newInv__btn-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(247, 248, 249, 0.7);
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .newInv__btn-container {
    justify-content: flex-end;
    padding: 2rem 2rem;
  }
}
.newInv__btn-blue {
  display: inline-flex;
  padding: 0.5rem 2.4375rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: #2E66E5;
  color: #FFFFFF;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  border: none;
}
@media (min-width: 768px) {
  .newInv__btn-blue {
    padding: 0.5rem 1rem;
  }
}
.newInv__item-heading {
  color: #13182C;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  padding: 1rem;
}
.newInv__item-name {
  color: #13182C;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0 1rem;
  margin-top: 1rem;
}
.newInv__item-input {
  border-radius: 1.25rem;
  border: 1px solid #BDC5D5;
  background: #FFFFFF;
  width: 90%;
  height: 2.25rem;
  flex-shrink: 0;
  margin: 0.5rem 1rem;
}
.newInv__item-description {
  color: #13182C;
  font-family: Titillium Web;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 1rem;
}
.newInv__item-descriptionInput {
  width: 90%;
  height: 7.5rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid #BDC5D5;
  background: #FFFFFF;
  margin: 0 1rem;
}
.newInv__radio {
  display: flex;
  justify-content: space-around;
}
.newInv__radio-label {
  padding: 0 0.5rem;
}
.newInv__bottom {
  flex-direction: column;
}/*# sourceMappingURL=AddInventory.css.map */